<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">


    <header>
         <!-- Navbar start -->
         <nav class="navbar navbar-dark navbar-expand-sm bg-purple pt-0 pb-0">
          <a class="navbar-brand" href="http://127.0.0.1:5000/"><img src="static/img/newlogo.png" width="100" alt="logo"></a>
          <a class="nav-link text-white text-white" href="http://127.0.0.1:5000/#home"><h1>Donation Website</h1> <span class="sr-only">(current)</span></a>
          <!--<a class="navbar-brand" href="https://www.nofoodwaste.org/index.php"><img class="header-img" src="https://www.nofoodwaste.org/images/NFW-logo.png" width="100" alt="logo"></a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                   <a class="nav-link text-white text-white" href="http://127.0.0.1:5000/#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/#about">About</a>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Background
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/chapters">Chapters</a>
                      
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/team">Team</a>
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/partners">Partners</a>
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/awards">AWARDS & ACCOLADES</a>
                   </div>
                </li>
                <li class="nav-item dropdown">
                   <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Initiatives
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/fnb-atm" href="#">FNB ATM</a>
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/nfw-trainings">NFW Trainings</a>
                      <a class="dropdown-item" href="https://www.nofoodwaste.org/share-your-day">Share Your Day</a>
                   </div>
                </li>
                
                <li class="nav-item">
                   <a class="nav-link text-white" href="https://www.nofoodwaste.org/blogs">Blog</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link text-white" href="https://www.nofoodwaste.org/join-with-us">Join With Us</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link text-white" href="https://www.nofoodwaste.org/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="login" class="btn1">Logout</a>
                </li>
             </ul>
          </div>
       </nav>
       <!-- Navbar end -->
    </header>

      <!--Map-->
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rEQDBTuDTkP0JQ3Jo8zwyJMe5MPwnhI&ehbc=2E312F" width="1900" height="480"></iframe>
      </div>
      <div class="w3-twothird">

      </div>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5 class="color-orange text-center">Our works are designed to provide essential food support to underserved areas<br> in the form of food or packaged food products depending on the need.</h5>
             <h5 class="text-dark text-center"> <b>Our goal is to ensure, Feed people not landfills.</b></h5>
          </div>
          <div class="col-md-12 col-12 mt-50">
             <div class="row home-banner-cards">
                <div class="col-lg-3 col-12 ">
                   <div class="container bg-white shadow pt-5 pb-5 pl-4 pr-4 home-cards">
                      <div class="row">
                         <div class="col-md-12 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                               class="bi bi-telephone-fill color-orange" viewBox="0 0 16 16">
                               <path fill-rule="evenodd"
                                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg>
                         </div>
                         <div class="col-md-12 mt-4">
                            <h5 class="text-center mt-3 mb-3 bold">Get in touch</h5>
                            <p class="text-center text-black-50">
                               Donors with surplus food/resources can reach us at <br> <a href="tel:9087790877">+91 9087790877</a>
                            </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-12 ">
                   <div class="container bg-white shadow pt-5 pb-5 pl-4 pr-4 home-cards">
                      <div class="row">
                         <div class="col-md-12 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                               class="bi bi-award-fill color-orange" viewBox="0 0 16 16">
                               <path
                                  d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                               <path
                                  d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                            </svg>
                         </div>
                         <div class="col-md-12 mt-4">
                            <h5 class="text-center mt-3 mb-3 bold">Quality check</h5>
                            <p class="text-center text-black-50">
                               Excess Food will be checked based on our Food Safety and Standard Guidelines
                            </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-12 ">
                   <div class="container bg-white shadow pt-5 pb-5 pl-4 pr-4 home-cards">
                      <div class="row">
                         <div class="col-md-12 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                               class="bi bi-compass color-orange" viewBox="0 0 16 16">
                               <path
                                  d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                               <path d="M6.94 7.44l4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z" />
                            </svg>
                         </div>
                         <div class="col-md-12 mt-4">
                            <h5 class="text-center mt-3 mb-3 bold">Locate</h5>
                            <p class="text-center text-black-50">
                               We spot the nearest “Hunger Spot” which is the most underserved areas
                            </p>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-12">
                   <div class="container bg-white shadow pt-5 pb-5 pl-4 pr-4 home-cards">
                      <div class="row">
                         <div class="col-md-12 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                               class="bi bi-truck color-orange" viewBox="0 0 16 16">
                               <path
                                  d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                         </div>
                         <div class="col-md-12 mt-4">
                            <h5 class="text-center mt-3 mb-3 bold">Deliver</h5>
                            <p class="text-center text-black-50">
                               Excess food is distributed to needy people with love.
                            </p>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
