<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <title>User Input</title>
            
        <link rel="stylesheet" href="static/form.css">
            <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
        <body>
            
            <style>
                body {
                  /* background-image: url('book.jpg'); */
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: 100% 100%;
                }
                </style>
                
            <div class="container">
                <h2>Diet Recommendation</h2>
                <div class="from-container">
                    <!-- <img src="logo1.png" class="logo"/> -->
                    
                        <form class="input-group" enctype="multipart/form-data">
                            <div class="field">
                                Age: 
                                <br>
                                <input type="text" placeholder="Enter Age" name="age" id="age" style="height:30px" size="30px" required>
                            </div>
                            <div class="field">
                                Veg/Nonveg:
                                <br>
                            
                                <input type="name" placeholder="Enter Veg/Nonveg" name="veg/nonveg" id= "veg/nonveg" style="height:30px" size="30px"
                                 required>
                            </div>

                            
                            <div class="field">
                                Weight:
                                <br>
                                <input type="integer" placeholder="Enter weight" name="weight" id="weight" style="height:30px" size="30px"
                             required>
                            </div>
                            <div class="field">
                                Height:
                                <br>
                                
                                <input type="name" placeholder="Enter height" name="height" id="height" style="height:30px" size="30px"
                                 required>
                           </div>
                          
                           <div class="field">
                             <button class="button is-fullwidth is-rounded is-success">Submit</button>
                           </div>
                           
                    
                           
                
                        </form>
                        {% if prediction is defined %}
                        <p>Prediction: {{ prediction[0] }}</p>
                        {% endif %}   
                </div>
            </div> 
        </body>
</html>